.nitro-benefits {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.nitro-benefits h2 {
    margin-bottom: 15px;
}

table {
    width: 60% !important;
    border-collapse: collapse;
    margin: 20px auto;
    color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px; /* Réduit le padding pour des cellules plus compactes */
    text-align: left;
}

th {
    background-color: #008214;
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.buy-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #008214;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.buy-button:hover {
    background-color: #0cab24;
}

img.img-fluid {
    max-width: 50%;
    height: auto;
}
